$base-width: 1400;
$base-height: 850;

// set responsive width for screen
$responsive-width: 1280,1200,1080,1024,991,768,575,414,375,320;

// set responsive height for screen
$responsive-height: 960,850,740,680,640,580,540,500,480;