@each $width in $responsive-width {
  @media screen and (max-width: #{$width}px) {
    .home-page-body {
      background-color: #f9f8f3;
      position: relative;

      &::after {
        content: "";
        background: url(../vendor/images/page_left_icon.svg);
        background-repeat: no-repeat;

        position: absolute;
        bottom: 20%;
        left: 0%;
        height: 80px;
        width: 35px;
      }
    }

    section {
      &.header {
        .topnav {
          background-color: #f5eded;
          .navbar {
            @if ($width >= 767) {
              height: 80px;
            }
            .navbar-toggler {
            }

            .mobile-view-navbar-brand {
              @if ($width >= 767) {
                display: block;
              }
              a {
                img {
                  @if ($width >= 414) {
                    height: 50px;
                    width: auto;
                  }
                }
              }
            }

            .container {
              .navbar-brand {
                display: none;
              }
              .collapse {
                .navbar-nav {
                  .nav-item {
                    padding-left: 7px;
                    padding-right: 7px;
                    .nav-link {
                      font-family: "DM Sans Medium";
                      color: #000000;
                      line-height: 51px;
                      letter-spacing: 1.37px;
                    }
                  }
                }
                .navbar-brand {
                  img {
                    width: 81px;
                    height: 93px;
                  }
                }
              }
            }

            .mobile-nav {
              @if ($width >= 767) {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #ffffff;
                overflow: hidden;
                transition: 0.5s;
              }

              ul {
                @if ($width >= 767) {
                  display: flex;

                  align-items: center;
                  padding-top: 50px;
                  text-align: center;
                }

                .nav-item {
                  @if ($width >= 767) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-align: center;
                  }
                  &.active {
                  }
                  .nav-link {
                    @if ($width >= 767) {
                      font-family: "DM Sans Medium";
                      font-size: 22px;
                      color: #000000;
                      line-height: 30px;
                      letter-spacing: 1.37px;
                      position: relative;
                    } @else if($width >= 414) {
                      font-size: 18px;
                      line-height: 25px;
                    }
                  }
                }
              }
              .nav-close-button {
                @if ($width >= 767) {
                  position: absolute;
                  top: 3%;
                  right: 4%;
                }

                i {
                  @if ($width >= 767) {
                    font-size: 32px;
                  }
                }
              }
            }
          }
        }

        .bannar-section {
          .background-bannar {
            .background-layer {
              .container {
                .row {
                  .col-sm-12 {
                    .carousel {
                      ol {
                        li {
                          @if ($width >= 767) {
                            width: 10px;
                            height: 10px;
                          }

                          &.active {
                          }
                        }
                      }

                      .carousel-inner {
                        .carousel-item {
                          &.active {
                          }

                          .cr-bannar-layer {
                            .cr-bannar-body {
                              .big-title {
                                @if ($width >= 767) {
                                  font-size: 42px;
                                  line-height: 65px;
                                } @else if($width >= 414) {
                                  font-size: 32px;
                                  line-height: 55px;
                                }

                                div {
                                  @if ($width >= 767) {
                                    font-size: 26px;
                                    line-height: 47px;
                                  } @else if($width >= 414) {
                                    font-size: 22px;
                                    line-height: 37px;
                                  }
                                }
                              }
                              .sub-title {
                                @if ($width >= 767) {
                                  font-size: 14px;
                                  line-height: 30px;
                                } @else if($width >= 414) {
                                  font-size: 12px;
                                  line-height: 24px;
                                  padding-right: 50px;
                                }
                              }

                              .button {
                                height: 100px;
                                a {
                                  @if ($width >= 767) {
                                    font-size: 14px;
                                    line-height: 20px;
                                    padding-left: 17px;
                                    padding-right: 17px;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.about-us {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }

        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 38px;
          }

          &::after {
            @if ($width >= 767) {
              left: 46%;
            } @else if($width >= 414) {
              left: 44%;
            }
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            padding-left: 50px;
            padding-right: 50px;
          }
        }

        .body {
          @if ($width >= 767) {
            margin-top: 30px;
          }

          .bg-texture {
            .container {
              .row {
                .col-sm-12 {
                  .image-section {
                    img {
                      @if ($width >= 767) {
                        width: 100%;
                      }
                    }
                  }

                  .text-section {
                    @if ($width >= 767) {
                      text-align: center;
                    }
                    .ab-title {
                      @if ($width >= 767) {
                        font-size: 16px;
                        line-height: 25px;
                      }
                    }
                    .ab-body {
                      @if ($width >= 767) {
                        font-size: 12px;
                        line-height: 30px;
                      }
                    }

                    .ab-service {
                      padding-top: 15px;
                      // padding-bottom: 15px;
                      .ab-ser-title {
                        @if ($width >= 767) {
                          font-size: 16px;
                          line-height: 20px;
                        }
                      }
                      .service-list {
                        ul {
                          padding-left: 0px;
                          margin-left: 0px;
                          li {
                            @if ($width >= 767) {
                              font-size: 12px;
                            }
                          }
                        }
                      }
                    }

                    .read-more-sec {
                      height: 54px;

                      a {
                        @if ($width >= 767) {
                          font-size: 14px;
                          line-height: 11px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.our-offers {
        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 38px;
          }

          &::after {
            @if ($width >= 767) {
              left: 46%;
            } @else if($width >= 414) {
              left: 40%;
            }
          }
        }
        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            line-height: 30px;
          }
        }

        .our-offer-images-section {
          @if ($width >= 767) {
            margin-top: 30px;
            margin-bottom: 30px;
          }

          .container {
            .row {
              .col-sm-12 {
                .offers {
                  .offer-layer {
                    @if ($width >= 767) {
                      height: 300px;
                      width: 100%;
                    }

                    .content {
                      .text {
                        @if ($width >= 767) {
                          font-size: 16px;
                          line-height: 30px;
                        }

                        &:hover {
                          &::after {
                            left: -13%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.why-clients-like-us {
        .why-cl-layer {
          @if ($width >= 767) {
            height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
          }

          .wh-cl-title {
            @if ($width >= 767) {
              font-size: 18px;
              line-height: 25px;
            }

            &::after {
              @if ($width >= 767) {
                left: 35%;
                bottom: 20%;
              }
            }
          }

          .wh-cl-subtitle {
            @if ($width >= 767) {
              font-size: 14px;
              line-height: 30px;
              padding-bottom: 20px;
            }
          }

          .wh-cl-body {
            .container {
              .row {
                .col-sm-12 {
                  @if ($width >= 767) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                  }
                  .content {
                    .logo {
                      &:hover {
                      }
                      &.experience {
                      }

                      &.budge {
                      }

                      &.good-quality {
                      }

                      img {
                      }
                    }

                    .title {
                      @if ($width >= 767) {
                        font-size: 14px;
                        line-height: 30px;
                      }
                    }

                    .subtitle {
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.our-team {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }

        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 35px;
          }

          &::after {
            @if ($width >= 767) {
              left: 47%;
            } @else if($width >= 414) {
              left: 45%;
            }
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
          }
        }

        .team-body {
          .container {
            .row {
              .col-sm-12 {
                .image-section {
                  @if ($width >= 767) {
                    margin-bottom: 30px;
                  }

                  img {
                    @if ($width >= 767) {
                      width: 100%;
                    }
                  }
                }

                .team-text-section {
                  @if ($width >= 767) {
                    text-align: center;
                  }
                  .title {
                    @if ($width >= 767) {
                      font-size: 16px;
                      line-height: 30px;
                    }

                    &::after {
                      @if ($width >= 767) {
                        top: -20%;
                      }
                    }
                  }
                  .content {
                    @if ($width >= 767) {
                      font-size: 12px;
                      line-height: 30px;
                    }
                  }

                  .join-us-button {
                    @if ($width >= 767) {
                      height: auto;
                    }
                    a {
                      @if ($width >= 767) {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.testimonial {
        .container {
          @if ($width >= 767) {
            padding-top: #{make_for_mobile($width, 105)}px;
            padding-bottom: #{make_for_mobile($width, 105)}px;
          }

          &::after {
            @if ($width >= 417) {
              right: 0;
            }
          }
          .row {
            .col-sm-12 {
              .main-body {
                .title {
                  @if ($width >= 767) {
                    font-size: 18px;
                    line-height: 30px;
                  }

                  &::after {
                    @if ($width >= 767) {
                      left: 48%;
                    } @else if($width >= 414) {
                      left: 45%;
                    }
                  }
                }

                .subtitle {
                  @if ($width >= 767) {
                    font-size: 14px;
                  }
                }

                .tes-body {
                  .header {
                    .profile-image {
                      img {
                      }
                    }

                    .name-designation {
                      .name {
                        @if ($width >= 767) {
                          font-size: 14px;
                          line-height: 30px;
                        }
                      }
                      .designation {
                        @if ($width >= 767) {
                          font-size: 12px;
                          line-height: 30px;
                        }
                      }
                    }
                  }

                  .body {
                    @if ($width >= 767) {
                      padding-left: #{make_for_mobile($width, 105)}px;
                      padding-right: #{make_for_mobile($width, 105)}px;
                    } @else if($width >= 414) {
                      padding-left: 20px;
                      padding-right: 20px;
                    }

                    &::after {
                    }
                    .content {
                      @if ($width >= 767) {
                        font-size: 14px;
                        line-height: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.suppliers-and-partners {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }@else if($width >= 414){
          padding-top: 30px;
          padding-bottom: 30px;
        }

        &::after {
        }
        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 30px;
          }

          &::after {
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            line-height: 30px;
          }
        }

        .body {
          @if ($width >= 767) {
            padding-left: #{make_for_mobile($width, 200)}px;
            padding-right: #{make_for_mobile($width, 200)}px;
          } @else if($width >= 414) {
            padding-left: 50px;
            padding-right: 50px;
          }

          .all-parteners {
            .image-partner {
              @if ($width >= 767) {
                align-items: center;
                justify-content: center;
              }
              img {
                @if ($width >= 414) {
                  width: 50px;
                  height: 80px;
                  padding-top: 5px;
                  padding-bottom: 5px;

                }
              }
            }
          }
        }
      }

      &.footer {
        @if ($width >= 767) {
          padding-top: 66px;
        } @else if($width >= 414) {
          padding-top: 30px;
        }
        .right-side-arrow {
          .arrowup {
            .arrow-up {
              img {
              }
            }
          }
        }

        .main-footer {
          @if ($width >= 768) {
            flex-direction: column;
          }

          .left {
            @if ($width >= 767) {
              padding-left: #{make_for_mobile($width, 100)}px;
              padding-right: #{make_for_mobile($width, 100)}px;
            }@else if($width >= 414){
              padding-left: 10px;
              padding-right: 10px;
            }

            .container {
              .row {
                .col-sm-12 {
                  .main-logo {
                    @if ($width >= 767) {
                      padding-top: 35px;
                      padding-bottom: 45px;
                    }

                    img {
                      @if ($width >= 767) {
                        height: 65px;
                      }
                    }
                  }
                  .title {
                    @if ($width >= 767) {
                      font-size: 14px;
                      line-height: 30px;
                    }
                  }

                  .subtitle {
                    @if ($width >= 767) {
                      font-size: 12px;
                    }
                  }

                  hr {
                  }

                  .mobile {
                    &.use {
                    }

                    &.bangladesh {
                    }

                    .logo {
                      img {
                      }
                    }

                    .text {
                    }
                  }

                  .social-logos {
                    .logo {
                      img {
                      }
                    }
                  }
                }
              }
            }
          }

          .right {
            @if ($width >= 767) {
              padding-right: #{make_for_mobile($width, 105)}px;
              padding-left: #{make_for_mobile($width, 105)}px;
            }@else if($width >= 414){
              padding-right: 10px;
              padding-left: 10px;
            }

            .container {
              .row {
                .col-sm-12 {
                  .newsletter-subscribtion {
                    @if ($width >= 767) {
                      margin-top: 50px;
                      padding-left: 25px;
                      padding-right: 25px;
                      padding-top: 15px;
                      padding-bottom: 15px;
                    }

                    .title {
                      @if ($width >= 767) {
                        font-size: 16px;
                        line-height: 30px;
                      }
                    }

                    .right {
                      form {
                        .input-group {
                          @if ($width >= 767) {
                            width: 100%;
                          }

                          input {
                            @if ($width >= 767) {
                              height: 65px;
                            }

                            &::placeholder {
                              @if ($width >= 767) {
                                font-size: 14px;
                                line-height: 30px;
                              }
                            }
                          }
                          div {
                            label {
                              @if ($width >= 767) {
                                padding-top: 11px;
                                padding-bottom: 11px;
                                padding-left: 25px;
                                padding-right: 25px;
                                font-size: 14px;
                                line-height: 30px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .title {
                    @if ($width >= 767) {
                      font-size: 14px;
                      line-height: 30px;
                    }
                  }

                  .body {
                    .section {
                      .left-sec {
                        .place-name-logo {
                          .logo {
                            img {
                            }
                          }

                          .place-name {
                          }
                        }
                      }

                      .right-sec {
                        .address {
                        }
                        .cell {
                          .logo {
                            img {
                            }
                          }
                        }
                      }
                    }
                  }

                  .social-links {
                    @if ($width >= 767) {
                      margin-top: 30px;
                      margin-bottom: 30px;
                    }

                    .links {
                      img {
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .last-footer {
          @if ($width >= 767) {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .left {
            ul {
              @if ($width >= 767) {
                flex-wrap: wrap;
                margin-bottom: 0;
              }
              li {
                a {
                  @if ($width >= 767) {
                    font-size: 12px;
                    line-height: 30px;
                  }
                }
              }
            }
          }
          .right {
            @if ($width >= 767) {
              font-size: 14px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
