@each $width in $responsive-width {
  @media screen and (max-width: #{$width}px) {
    .home-page-body {
      background-color: #f9f8f3;
      position: relative;

      &::after {
        content: "";
        background: url(../vendor/images/page_left_icon.svg);
        background-repeat: no-repeat;

        position: absolute;
        bottom: 20%;
        left: 0%;
        height: 80px;
        width: 35px;
      }
    }

    section {
      &.header {
        .topnav {
          .navbar {
            background-color: #fdfdfd !important;
            height: 130px;
            .navbar-toggler {
            }

            .mobile-view-navbar-brand {
              display: none;
            }

            .container {
              .collapse {
                .navbar-nav {
                  .nav-item {
                    padding-left: 7px;
                    padding-right: 7px;
                    .nav-link {
                      font-family: "DM Sans Medium";
                      color: #000000;
                      line-height: 51px;
                      letter-spacing: 1.37px;
                    }
                  }
                }
                .navbar-brand {
                  img {
                    width: 81px;
                    height: 93px;
                  }
                }
              }
            }

            .mobile-nav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #ffffff;
              overflow: hidden;
              transition: 0.5s;
            }
          }
        }

        .bannar-section {
          .background-bannar {
            height: 80vh;
            background-image: url(../vendor/images/home/home-page-banner.svg);
            background-position: center;
            object-fit: cover;
            background-repeat: no-repeat;

            .background-layer {
              width: 100%;
              height: 100%;
              background: #484141 0% 0% no-repeat padding-box;
              opacity: 0.85;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .container {
                .row {
                  .col-sm-12 {
                    .carousel {
                      ol {
                        transform: rotate(90deg);
                        right: -20%;
                        left: unset;
                        top: 50%;
                        bottom: unset;

                        li {
                          width: 15px;
                          height: 15px;
                          border-radius: 50%;
                          margin-left: 10px;
                          margin-right: 10px;
                          &.active {
                            background-color: #eb6551;
                          }
                        }
                      }

                      .carousel-inner {
                        .carousel-item {
                          &.active {
                          }

                          .cr-bannar-layer {
                            height: 100%;
                            display: flex;
                            align-items: center;

                            .cr-bannar-body {
                              height: 100%;

                              color: #ffffff;

                              .big-title {
                                font-family: "Nunito Bold";
                                font-size: 62px;
                                line-height: 85px;
                                text-transform: uppercase;
                                div {
                                  font-size: 42px;
                                  font-family: "Nunito Bold";
                                  line-height: 57px;
                                  text-transform: uppercase;
                                }
                              }
                              .sub-title {
                                font-family: "Nunito SemiBold";
                                font-size: 18px;
                                line-height: 27px;
                                text-align: justify;
                                // height: 68px;
                                white-space: pre-line;
                              }

                              .button {
                                height: 100px;
                                a {
                                  border: 3px solid #e9d4d4;
                                  font-family: "Nunito Bold";
                                  font-size: 16px;
                                  line-height: 22px;
                                  color: #f2f2f2;
                                  padding-left: 17px;
                                  padding-right: 17px;
                                  padding-top: 10px;
                                  padding-bottom: 10px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.about-us {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }

        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 38px;
          }

          &::after {
            @if ($width >= 767) {
              left: 46%;
            }
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            padding-left: 50px;
            padding-right: 50px;
          }
        }

        .body {
          @if ($width >= 767) {
            margin-top: 30px;
          }

          .bg-texture {
            .container {
              .row {
                .col-sm-12 {
                  .image-section {
                    img {
                      @if ($width >= 767) {
                        width: 100%;
                      }
                    }
                  }

                  .text-section {
                    @if ($width >= 767) {
                      text-align: center;
                    }
                    .ab-title {
                      @if ($width >= 767) {
                        font-size: 16px;
                        line-height: 25px;
                      }
                    }
                    .ab-body {
                      @if ($width >= 767) {
                        font-size: 12px;
                        line-height: 30px;
                      }
                    }

                    .ab-service {
                      padding-top: 15px;
                      // padding-bottom: 15px;
                      .ab-ser-title {
                        @if ($width >= 767) {
                          font-size: 16px;
                          line-height: 20px;
                        }
                      }
                      .service-list {
                        ul {
                          padding-left: 0px;
                          margin-left: 0px;
                          li {
                            @if ($width >= 767) {
                              font-size: 12px;
                            }
                          }
                        }
                      }
                    }

                    .read-more-sec {
                      height: 54px;

                      a {
                        @if ($width >= 767) {
                          font-size: 14px;
                          line-height: 11px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.our-offers {
        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 38px;
          }

          &::after {
          }
        }
        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            line-height: 30px;
          }
        }

        .our-offer-images-section {
          @if ($width >= 767) {
            margin-top: 30px;
            margin-bottom: 30px;
          }

          .container {
            .row {
              .col-sm-12 {
                .offers {
                  .offer-layer {
                    @if ($width >= 767) {
                      height: 300px;
                      width: 100%;
                    }

                    .content {
                      .text {
                        @if ($width >= 767) {
                          font-size: 16px;
                          line-height: 30px;
                        }

                        &:hover {
                          &::after {
                            left: -13%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.why-clients-like-us {
        .why-cl-layer {
          @if ($width >= 767) {
            height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
          }

          .wh-cl-title {
            @if ($width >= 767) {
              font-size: 18px;
              line-height: 25px;
            }

            &::after {
              @if ($width >= 767) {
                left: 35%;
              }
            }
          }

          .wh-cl-subtitle {
            @if ($width >= 767) {
              font-size: 14px;
              line-height: 30px;
              padding-bottom: 20px;
            }
          }

          .wh-cl-body {
            .container {
              .row {
                .col-sm-12 {
                  @if ($width >= 767) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                  }
                  .content {
                    .logo {
                      &:hover {
                      }
                      &.experience {
                      }

                      &.budge {
                      }

                      &.good-quality {
                      }

                      img {
                      }
                    }

                    .title {
                      @if ($width >= 767) {
                        font-size: 14px;
                        line-height: 30px;
                      }
                    }

                    .subtitle {
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.our-team {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }

        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 35px;
          }

          &::after {
            @if ($width >= 767) {
              left: 47%;
            }
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
          }
        }

        .team-body {
          .container {
            .row {
              .col-sm-12 {
                .image-section {
                  @if ($width >= 767) {
                    margin-bottom: 30px;
                  }

                  img {
                  }
                }

                .team-text-section {
                  @if ($width >= 767) {
                    text-align: center;
                  }
                  .title {
                    @if ($width >= 767) {
                      font-size: 16px;
                      line-height: 30px;
                    }

                    &::after {
                      @if ($width >= 767) {
                        top: -20%;
                      }
                    }
                  }
                  .content {
                    @if ($width >= 767) {
                      font-size: 12px;
                      line-height: 30px;
                    }
                  }

                  .join-us-button {
                    @if($width >= 767){
                      height: auto;
                    }
                    a {
                      @if ($width >= 767) {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.testimonial {
        .container {
          @if ($width >= 767) {
            padding-top: #{make_for_mobile($width, 105)}px;
            padding-bottom: #{make_for_mobile($width, 105)}px;
          }

          &::after {
          }
          .row {
            .col-sm-12 {
              .main-body {
                .title {
                  @if ($width >= 767) {
                    font-size: 18px;
                    line-height: 30px;
                  }

                  &::after {
                    content: "";
                    background: #eb6551;
                    position: absolute;
                    bottom: -22%;
                    left: 48%;
                    height: 5px;
                    width: 53px;
                  }
                }

                .subtitle {
                  @if ($width >= 767) {
                    font-size: 14px;
                  }
                }

                .tes-body {
                  .header {
                    .profile-image {
                      img {
                      }
                    }

                    .name-designation {
                      .name {
                        @if ($width >= 767) {
                          font-size: 14px;
                          line-height: 30px;
                        }
                      }
                      .designation {
                        @if ($width >= 767) {
                          font-size: 12px;
                          line-height: 30px;
                        }
                      }
                    }
                  }

                  .body {
                    @if ($width >= 767) {
                      padding-left: #{make_for_mobile($width, 105)}px;
                      padding-right: #{make_for_mobile($width, 105)}px;
                    }

                    &::after {
                    }
                    .content {
                      @if ($width >= 767) {
                        font-size: 14px;
                        line-height: 30px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.suppliers-and-partners {
        @if ($width >= 767) {
          padding-top: #{make_for_mobile($width, 105)}px;
          padding-bottom: #{make_for_mobile($width, 105)}px;
        }

        &::after {
        }
        .title {
          @if ($width >= 767) {
            font-size: 18px;
            line-height: 30px;
          }

          &::after {
          }
        }

        .subtitle {
          @if ($width >= 767) {
            font-size: 14px;
            line-height: 30px;
          }
        }

        .body {
          @if ($width >= 767) {
            padding-left: #{make_for_mobile($width, 200)}px;
            padding-right: #{make_for_mobile($width, 200)}px;
          }

          .all-parteners {
            .image-partner {
              
              img {
               
              }
            }
          }
        }
      }

      &.footer {
        padding-top: 66px;
        .right-side-arrow {
          .arrowup {
            .arrow-up {
              img {
              }
            }
          }
        }

        .main-footer {
          @if ($width >= 768) {
            flex-direction: column;
          }

          .left {
            padding-left: 100px;
            padding-right: 100px;

            background-color: #373737;
            .container {
              .row {
                .col-sm-12 {
                  .main-logo {
                    padding-top: 65px;
                    padding-bottom: 75px;
                    img {
                      height: 65px;
                      width: auto;
                    }
                  }
                  .title {
                    font-family: "DM Sans Bold";
                    font-size: 18px;
                    line-height: 35px;
                    color: #ffffff;
                  }

                  .subtitle {
                    font-family: "DM Sans Regular";
                    font-size: 14px;
                    line-height: 21px;
                    color: #ffffff;
                  }

                  hr {
                    background-color: #f2f2f2;
                  }

                  .mobile {
                    font-family: "DM Sans Regular";
                    font-size: 12px;
                    line-height: 30px;
                    color: #ffffff;
                    display: flex;
                    &.use {
                    }

                    &.bangladesh {
                    }

                    .logo {
                      padding-right: 10px;
                      img {
                        width: 15px;
                        height: auto;
                      }
                    }

                    .text {
                      font-family: "DM Sans Regular";
                      font-size: 12px;
                      line-height: 30px;
                      color: #ffffff;
                    }
                  }

                  .social-logos {
                    .logo {
                      img {
                      }
                    }
                  }
                }
              }
            }
          }

          .right {
            background-color: #242424;
            padding-right: 100px;
            color: #ffffff;
            padding-left: 100px;

            .container {
              .row {
                .col-sm-12 {
                  .newsletter-subscribtion {
                    margin-top: 65px;
                    background-color: #ffffff;
                    box-shadow: 0px 15px 19px #12283970;
                    height: auto;
                    padding-left: 32px;
                    padding-right: 32px;
                    padding-top: 18px;
                    padding-bottom: 18px;

                    .title {
                      font-family: "DM Sans Regular";
                      font-size: 20px;
                      line-height: 34px;
                      color: #000000;
                      padding-top: 10px;
                      padding-bottom: 10px;
                    }

                    .right {
                      background-color: rgba(255, 255, 255, 0.8);
                      padding-left: 0px;
                      padding-right: 0px;

                      form {
                        .input-group {
                          width: 455px;
                          border-radius: 5px;

                          input {
                            height: 65px;
                            background-color: rgba(93, 55, 55, 0.18);
                            &::placeholder {
                              font-size: 18px;
                              font-family: "DM Sans Bold";
                              line-height: 34px;
                              color: #f2f2f2;
                            }
                          }
                          div {
                            label {
                              background-color: rgba(235, 101, 81, 0.8);
                              padding-top: 11px;
                              padding-bottom: 11px;
                              padding-left: 25px;
                              padding-right: 25px;
                              color: #ffffff;
                              font-family: "DM Sans Bold";
                              font-size: 18px;
                              line-height: 34px;
                            }
                          }
                        }
                      }
                    }
                  }

                  .title {
                    font-family: "DM Sans Bold";
                    font-size: 18px;
                    line-height: 34px;
                    padding-top: 48px;
                    padding-bottom: 24px;
                  }

                  .body {
                    .section {
                      display: flex;
                      // align-items: center;
                      padding-bottom: 20px;

                      .left-sec {
                        padding-right: 20px;
                        .place-name-logo {
                          display: flex;
                          width: 100px;
                          .logo {
                            padding-right: 10px;

                            img {
                            }
                          }

                          .place-name {
                          }
                        }
                      }

                      .right-sec {
                        .address {
                        }
                        .cell {
                          .logo {
                            img {
                            }
                          }
                        }
                      }
                    }
                  }

                  .social-links {
                    margin-top: 50px;
                    margin-bottom: 40px;

                    .links {
                      display: flex;
                      img {
                        padding-right: 26px;
                        width: auto;
                        height: 23px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .last-footer {
          background-color: #212020;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 145px;
          padding-right: 145px;

          .left {
            ul {
              display: flex;
              padding-left: 0px;
              margin-left: 0px;
              li {
                padding-left: 10px;
                padding-right: 10px;
                list-style: none;
                a {
                  font-family: "Poppin SemiBold";
                  font-size: 14px;
                  line-height: 51px;
                  color: #f5f5f5;
                  text-decoration: none;
                }
              }
            }
          }
          .right {
            color: #ffffff;
            font-family: "Poppin Regular";
            font-size: 16px;
            line-height: 50px;
          }
        }
      }
    }
  }
}
